body {
    text-align: center;
    background-color: #4F5061;
    padding: 0%;
    margin: 0%;
}
 
p {
    font-size: 0.9rem;
    font-weight: 600;
    color: #4F5061;
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    font-size: 6rem;
    letter-spacing: 0.1rem;
    font-weight: 600;
    margin: auto;
    color:#AFC0DD;
    text-shadow:
    2px 1px 0 #4F5061,
    -2px 1px 0 #4F5061,
    -2px -1px 0 #A1A1A6,
    2px -1px 0 #A1A1A6;
}


h3 {
    font-size: 3rem;
    margin-top: 4rem;
    text-align: center;
    color: #98A6C5;

}

.header {
    display: flex;
    flex-direction: row;
    height: 15vh;
    width: 100%;
    justify-content: space-between;
    max-width: 95%;
    align-items: center;
    margin: auto;
    margin-bottom: -2rem;
}

.header button {
    height: 4rem;
    width: 9rem;
    border-style: none;
    border-radius: 20%;
    margin-left: 1rem;
    margin-right: 1rem;
    font-size: 2rem;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #4F5061;
    text-align: center;
    font-weight: 600;
    color: #98A6C5;
}
.header button:hover {
    background-color: #98A6C5;
    text-decoration: underline;
    color: #4F5061;
    border-style: inset;
}

.intro-heading {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-gap: 15px;
    color:#AFC0DD;
    width: 90%;
    margin: auto;
    font-family: Arial, Helvetica, sans-serif;
    justify-content: center;
}

.intro-box {
    margin: auto;
    justify-content: center;
    align-items: center;
}

.upper-left {
    grid-column: 1;
    grid-row: 1;
}

.upper-right {
    grid-column: 2;
    grid-row: 1 / 3;
}

hr {
    border: 0;
    height: 4px;
    width: 95%;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(152, 166, 197, 0.90), rgba(0, 0, 0, 0));
    margin: 2rem
}

.personal-picture > img {
    display: block;
    margin: auto;
    width: 100%;
    object-fit: fill;
    border-style: solid;
    border-color: #98A6C5;
    border-width: 15px;
    border-radius: 20%; 
}

.midsection {
    display: grid;
    border-radius: 5%;
    gap: 0.5rem;
    background-color: #D2C4CD;
    padding: 0.5rem;
    margin: auto;
    width: 80%;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: repeat(4, 10rem);
}
.midsection-item {
    border-radius: 5%;
    height: 10rem;
    width: auto;
    text-align: center;
}

.midsection-item > img {
    border-color:#464A3C;
    border-style: solid;
    height: 100%;
    width: 100%;
    border-radius: 5%;
}

.resume-container {
    display: block;
    padding-top: 5%;
    margin: auto;
    background-color:#AFC0DD;
    height: 20rem;
    width: 90%;
    border-radius: 20%;
}

.title-container {
    margin-top: 30px;
    margin-left: 30px;
    margin-bottom: 30px;
    width: 80%;
    height: 60px;
}


.title-container > h3 {
    margin-top: 0rem;
    }




@media screen and (max-width: 600px) {

    .intro-heading {
    display: flex;
    flex-direction: column;
    margin: auto;
    text-align: center;
    color:#AFC0DD;
    width: 70%;
    font-family: Arial, Helvetica, sans-serif;
    }

    p {
        font-size: 0.7rem;
        font-weight: 600;
        color: #464A3C;
        font-family: Arial, Helvetica, sans-serif;
    }

    .midsection-item {
        display: block;
        border-radius: 8%;
        height: 9rem;
        width: auto;
        text-align: center;
        align-items: center;
        justify-content: center;
    }

    .header button {
        height: 4rem;
        width: 8rem;
        font-size: 0.8rem;
    }

    h1 {
        font-size: 5rem;
    }

    .header button {
        font-size: 1.3rem;
    }
}

@media screen and (min-width: 1000px){
    p {
        font-size: 1.1rem;
        font-weight: 600;
        color: #464A3C;
        font-family: Arial, Helvetica, sans-serif;
    }

    h1{
        font-size: 10rem;
    }

    .midsection {
        display: grid;
        border-radius: 5%;
        min-height: 700px;
        gap: 0.7rem;
        max-width: 60%;
        padding: 0.8rem;
        grid-template-columns: repeat(2,);
        grid-template-rows: repeat(4, 10rem);
    }

    .midsection-item {
        min-height: 180px;

    }

    .resume-container {
        display: block;
        justify-content: center;
        align-items: center;
        width: 60%;
        border-radius: 20%
    }
}

