body {
    background-image: url("images/michigan.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    padding: 0%;
    margin: 0%;
}
 
p {
    font-size: 0.9rem;
    font-weight: 600;
    color: #4F5061;
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    font-size: 4rem;
    letter-spacing: 0.1rem;
    font-weight: 600;
}

h2 {
    letter-spacing: 0.15rem;
}

h3 {
    font-size: 2rem;
    display: block;
    margin: 1rem;
    text-align: center;
    color: #D2C4CD;
    letter-spacing: 0.08rem;
    text-shadow:
    2px 1px 0 #AFC0DD,
    -2px 1px 0  #4F5061,
    -2px -1px 0 #AFC0DD,
    2px -1px 0 #AFC0DD;

}

.header {
    display: flex;
    flex-direction: row;
    height: 20vh;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

.header button {
    background-color: #AFC0DD;
    height: 5rem;
    width: 5rem;
    border-style: outset;
    border-radius: 20%;
    margin-left: 1rem;
}

.resume {
    margin-right: 1rem;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1rem;
    text-align: center;
    justify-content: center;
    color: #4F5061;
}

img {
    margin: auto;
    width: 100%;
    height: 100%;
}


.intro-heading {
    display: block;
    margin: auto;
    text-align: center;
    color:#AFC0DD;
    width: 70%;
    font-family: Arial, Helvetica, sans-serif;
    text-shadow:
    2px 1px 0 #4F5061,
    -2px 1px 0 #4F5061,
    -2px -1px 0 #A1A1A6,
    2px -1px 0 #A1A1A6;
}

hr {
    border-style: none;
    border-top: dotted #4F5061;
    margin-bottom: 4rem;
    margin-top: 4rem;
    margin-left: 35%;
    margin-right: 35%;
    width: 30%;
    border-width: 1rem;
}

.personal-picture > img {
    display: block;
    margin: auto;
    margin-top: 3rem;
    width: 16rem;
    border-style: solid;
    border-color: #98A6C5;
    border-width: 5px;
    object-fit: fill;
    border-radius: 20%; 
    object-fit: contain;
}

.midsection {
    display: grid;
    border-radius: 5%;
    gap: 0.5rem;
    background-color: #D2C4CD;
    margin: 1rem;
    padding: 0.5rem;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: repeat(4, 10rem);
}
.midsection-item {
    border-radius: 5%;
    height: 10rem;
    width: auto;
    text-align: center;
    align-items: center;
    justify-content: center;
}
.midsection-item > img {
    border-color:#464A3C;
    border-style: solid;
    height: 100%;
    width: 100%;
    border-radius: 5%;
}

.resume-container {
    display: block;
    margin: auto;
    background-color:#D2C4CD;
    height: 20rem;
    width: 90%;
    border-radius: 20%;
}




@media screen and (max-width: 400px) {
    p {
        font-size: 0.7rem;
        font-weight: 600;
        color: #464A3C;
        font-family: Arial, Helvetica, sans-serif;
    }

    .midsection-item {
        border-radius: 8%;
        height: 9rem;
        width: auto;
        text-align: center;
        align-items: center;
        justify-content: center;
    }

    .header button {
        height: 4rem;
        width: 4rem;
        font-size: 0.8rem;
    }

    h1 {
        font-size: 2rem;
    }
}

@media screen and (min-width: 1000px){
    .personal-picture > img {
        border-radius: 50%; 
        width: 20rem;
    }

    p {
        font-size: 1.1rem;
        font-weight: 600;
        color: #464A3C;
        font-family: Arial, Helvetica, sans-serif;
    }

    .midsection {
        display: grid;
        border-radius: 5%;
        gap: 0.7rem;
        background-color: #A1A1A6;
        margin: 10rem;
        padding: 0.8rem;
        grid-template-columns: repeat(2,1fr);
        grid-template-rows: repeat(4, 10rem);
    }

    .midsection-item {
        border-radius: 8%;
        height: 9rem;
        width: auto;
        text-align: center;
        align-items: center;
        justify-content: center;
    }

    .resume-container {
        width: 60%;
        border-radius: 20%
    }
}