body {
    background-color:#D8D6C4;
    padding: 0%;
    margin: 0%;
}
 
p {
    font-size: 0.9rem;
    font-weight: 600;
    color: #464A3C;
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    font-size: 4rem;
    font-weight: 600;
}

h3 {
    display: block;
    margin: 1rem;
    text-align: center;
    color: #A1A1A6;
}

.header {
    display: flex;
    flex-direction: row;
    height: 20vh;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

.header button {
    background-color: #464A3C;
    height: 5rem;
    width: 5rem;
    border-style: outset;
    border-radius: 20%;
    margin-left: 1rem;
}

.resume {
    margin-right: 1rem;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1rem;
    text-align: center;
    justify-content: center;
    color: #A1A1A6;
}



img {
    margin: auto;
    width: 100%;
    height: 100%;
}


.intro-heading {
    display: block;
    margin: auto;
    text-align: center;
    color: #464A3C;
    width: 70%;
    font-family: Arial, Helvetica, sans-serif;

}

hr {
    border-style: none;
    border-top: dotted #A1A1A6;
    margin-bottom: 4rem;
    margin-top: 4rem;
    margin-left: 35%;
    margin-right: 35%;
    width: 30%;
    border-width: 1rem;
}

.personal-picture > img {
    display: block;
    margin: auto;
    margin-top: 3rem;
    width: 16rem;
    border-style: solid;
    border-color: #464A3C;
    border-width: 5px;
    object-fit: fill;
    border-radius: 20%; 
    object-fit: contain;
}

.midsection {
    display: grid;
    border-radius: 5%;
    gap: 0.5rem;
    background-color: #A1A1A6;
    margin: 1rem;
    padding: 0.5rem;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: repeat(4, 10rem);
}
.midsection-item {
    border-radius: 5%;
    height: 10rem;
    width: auto;
    text-align: center;
    align-items: center;
    justify-content: center;
}
.midsection-item > img {
    border-color:#464A3C;
    border-style: solid;
    height: 100%;
    width: 100%;
    border-radius: 5%;
}

@media screen and (max-width: 400px) {
    p {
        font-size: 0.7rem;
        font-weight: 600;
        color: #464A3C;
        font-family: Arial, Helvetica, sans-serif;
    }

    .midsection-item {
        border-radius: 8%;
        height: 9rem;
        width: auto;
        text-align: center;
        align-items: center;
        justify-content: center;
    }
}

@media screen and (min-width: 1000px){
    .personal-picture > img {
        display: block;
        margin: auto;
        margin-top: 3rem;
        width: 16rem;
        border-style: solid;
        border-color: #464A3C;
        border-width: 5px;
        object-fit: fill;
        border-radius: 50%; 
        object-fit: contain;
    }

    p {
        font-size: 1.1rem;
        font-weight: 600;
        color: #464A3C;
        font-family: Arial, Helvetica, sans-serif;
    }

    .midsection {
        display: grid;
        border-radius: 5%;
        gap: 0.7rem;
        background-color: #A1A1A6;
        margin: 15rem;
        padding: 0.8rem;
        grid-template-columns: repeat(2,1fr);
        grid-template-rows: repeat(4, 10rem);
    }

    .midsection-item {
        border-radius: 8%;
        height: 9rem;
        width: auto;
        text-align: center;
        align-items: center;
        justify-content: center;
    }
}